
$buttonColour = blue
// $buttonColour = green

$trans = transparent

$gd = #def
$gc = #cde
$gb = #bcd
$ga = #abc
$g9 = #9ab
$g8 = #89a
$g7 = #789
$g6 = #678
$g5 = #567
$g45 = #5c6d7e
$g4 = #456
$g3 = #345
$g2 = #234
$g1 = #123
$g0 = #012
// 


darkblue = #038
blue = #259
lightblue = #47c
navy = #024
purple = #529
aqua = #08a

green = #474
lime = #780
olive = #663

red = #710 
maroon = #700
orange = #a40
yellow = #b80 

black = #111
gray = #777
white = #ccc
teal = #087

